.row-listing{
    position: relative;
    width: 100%;
    display: flex;
}

.scroll{
    min-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    overflow-x: scroll;
    overflow-y: hidden;
    
}

.favourites-listing{

}